html, body {
    color: black;
    margin: 0;
    padding: 0;
    background-image: url("../images/bgr-images/nature_trees.jpg");
    /* background-repeat: repeat; */
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
}

.easter-egg-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.note {
    margin: 50px;
    font-size: 3rem;
    color: white;
    width: 700px;
}

.hidden-link {
    font-size: 1rem;
    /* color: white; */
    color: rgb(0, 89, 22);
    text-decoration: none;
    margin: 500px 0px 0px 1000px;
}

.hidden-link:hover {
    color: yellow;
    font-size: 4rem;
}

/* img {
    height: auto;
    width: 600px;
    opacity: 80%;
} */