html, body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.note-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note {
    width: 400px;
}

img {
    height: auto;
    width: 400px;
}