html, body {
    font-family: Garamond, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.nav-bar {
    background-color: #c9356c;
}

li.nav-logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

ul.nav-list, ul.footer-list{
    list-style: none;
    margin: 0;
    padding: 10px 250px;
    color: #FAF9F6;
    display: flex;
    align-items: center;
    gap: 25px;
}

li.nav-element {
    font-size: 18px;
}

.nav-element img {
    width: 25px;
    height: auto;
}

.header-container {
    background-color: #f48db4;
    padding: 50px 250px;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-left {
    font-size: 40px;
    font-weight: bolder;
}

.header-left-container p {
    margin: 10px 0;
    padding: 0;
    font-size: 18px;
    line-height: 150%;
}

.header-image img {
    width: 400px;
    height: auto;
    margin-left: 50px;
    border-radius: 5%;
}

.card-container {
    background-color: #fafafa;
    padding: 50px 250px;
    text-align: center;
}

.card-container h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #c9356c;
}

.cards {
    margin-top: 25px;
    display: flex;
    gap: 50px 100px;
    justify-content: center;
    flex-wrap: wrap;
    color: #c9356c;
    font-size: 15px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card img{
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border: 5px solid #c9356c;
}

.quote-container {
    background-color: #f48db4;
    display: flex;
    flex-direction: column;
    padding: 100px 350px;
}

#quote {
    padding: 0;
    margin: 0;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote-container #author{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.contact-container {
    padding: 25px 500px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

.contact-container-nested {
    padding: 20px;
    background-color: #ff347f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: 200px;
    flex: 1;
}

.contact-container p {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.contact-container button {
    padding: 5px;
    margin-top: 11px;
    background-color: rgb(168, 0, 87);
    border-radius: 8px;
    border-style: none;
}

.contact-container a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.socials-container {
    margin-top: 10px;
    /* background-color: lightgray; */
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}

footer a {
    color: hotpink;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

#hidden {
    color: cyan
}

#hidden:hover {
    color: orange
}